name: macOS CI

on: [pull_request]

# Every time you make a push to your PR, it cancel immediately the previous checks, 
# and start a new one. The other runner will be available more quickly to your PR. 
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.name }} ${{ matrix.build_type }}
    runs-on: ${{ matrix.os }}

    env:
      CTEST_OUTPUT_ON_FAILURE: ON
      CTEST_PARALLEL_LEVEL: 2
      CMAKE_BUILD_TYPE: ${{ matrix.build_type }}
      GTSAM_BUILD_UNSTABLE: ${{ matrix.build_unstable }}

    strategy:
      fail-fast: true
      matrix:
        # Github Actions requires a single row to be added to the build matrix.
        # See https://help.github.com/en/articles/workflow-syntax-for-github-actions.
        name: [
          macos-12-xcode-14.2,
        ]

        build_type: [Debug, Release]
        build_unstable: [ON]
        include:
          - name: macos-12-xcode-14.2
            os: macos-12
            compiler: xcode
            version: "14.2"

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          brew install cmake ninja
          brew install boost
          sudo xcode-select -switch /Applications/Xcode.app
          echo "CC=clang" >> $GITHUB_ENV
          echo "CXX=clang++" >> $GITHUB_ENV
      - name: Build and Test
        run: bash .github/scripts/unix.sh -t
